<div class="row">
  <div class="col-md-12">
    <h1>{{objective.name}}</h1>
  </div>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{objective.openingHours}}</li>
        <li><strong>Telephone:</strong> {{objective.telephone}}</li>
        <li><strong>Address:</strong> {{objective.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{objective.description}}</p>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>