<div>
  <h1>{{objective.name}}</h1>
  <p>[{{objective.Category.name}}]</p>
</div>
<hr />
<ul>
  <li>Views：{{objective.views}}</li>
  <li>Comments：{{objective.Comments.length}}</li>
  <li>Followers：{{objective.FavoriteUsers.length}}</li>
</ul>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>